APP_NAME=skeleton
APP_ENV=dev
APP_HOST=localhost:9501

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0

#加解密設置(棄用)
APP_KEY=NQYT3eSsXG52WPDS
ENCRYPT_KEY=e89225cfbbimgkcu

#白名單設置
ALLOW_IP=localhost,127.0.0.1
ALLOW_IP_MD5=https://white.yesebo.net/ip.txt

##是否要開啟Google登入驗證
##0:關閉 1: 開啟
GOOGLE_AUTH_VALID=0

#JWT設置
JWT_SECRET=NQYT3eSsXG52WPDS

#EMAIL 發送 HOST
SYSTEM_ID=""
EMAIL_HOST="http://pay.hyys.info/v1/email2"
PAY_SIGNKEY=""

#IMAGEGROUP
IMAGE_GROUP_SYNC_URL="https://app.aimei001.com/index.php?m=activity&a=ppic"
IMAGE_GROUP_ENCRYPT_URL="https://new.eewwwn.cn"
IMAGE_GROUP_DECRYPT_URL="https://imgpublic.ycomesc.live"

#VIDEO
VIDEO_SOURCE_URL="https://video.iwanna.tv"

#加解密設置
ENCRYPT_FLAG=false
PARAMS_ENCRYPT_FLAG=false

#登入次數限制
LOGIN_LIMIT=3

#UPLOAD
IMAGE_UPLOAD="https://new.ycomesc.live/imgUpload.php"
IMAGE_KEY=132f1537f85scxpcm59f7e318b9epa51